@import "./../SCSS/default.scss";

$color_2: #1c8adb;
$font_family_1: "Roboto", sans-serif;
$font_family_2: "Exo 2", sans-serif;

.mat-chip.mat-standard-chip {
  background-color: #00adf5;
  color: #fff;
}

.content {
  margin: 10px 10px 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 80vh;
  max-height: 85vh;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
    background: #252525;
    mix-blend-mode: normal;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fdfeff;
    border-radius: 2px;
  }

}

@media (max-width: 900px) {
  .content {
    margin-left: 4px;
    margin-right: 4px;
  }
}


.form__headline {
  font-family: $font_family_2;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  letter-spacing: 0.4px;
  color: $color_2;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: flex;
  justify-content: center;
}

.form__cont {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.form__content {
  font-style: normal;
  line-height: 26px;
  font-size: 17px;
  letter-spacing: 1px;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin-bottom: 25px;
  text-align: justify;
}

.article__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  display: flex;
  margin-right: 2%;
  justify-content: flex-end;
}

.post {
  color: #00adf5;
}

.text {
  outline: none;
  align-self: flex-end;
  cursor: pointer;
  font-size: 20px;
  color: #F5F5F5;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: #00adf5;
  }
}

.join {
  outline: none;
  align-self: flex-end;
  cursor: pointer;
  font-size: 20px;
  color: #66ba39;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: #10f180;
  }
}
.leave {
  outline: none;
  align-self: flex-end;
  cursor: pointer;
  font-size: 20px;
  color: #ba3939;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;

  &:hover {
    color: #f11010;
  }
}

.load{
  outline: none;
  align-self: flex-end;
  cursor: pointer;
  font-size: 20px;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transform: rotate(720deg);
  transition: all 0.5s ease-in-out!important;
}


.edd {
  display: flex;
  align-items: center;
}


.form__user {
  display: flex;
  justify-content: center;
  text-align-last: center;
  width: 70%;
  margin-bottom: 3%;

}

.player__item {
  width: 100%;
  height: 40px;
  margin-bottom: 24px;
}


.player--text {
  margin-bottom: 5px;
  font-family: $header_font;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #1c8adb;
}


.player__name {
  margin-bottom: 15px;
  font-family: $header_font;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #a9c9e2;
  padding-top: 2px;
}

.lesson__content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer{
  display: flex;
  width: 70%;
  justify-content: space-evenly;
}
.comments{
  display: flex;
  justify-content: center;
}

@media (max-width: 620px) {
  .form__headline{
    text-align: center;
    margin-top: 40px;
  }
  .lesson__content{
    flex-direction: column;
  }
  .form__user{
    flex-direction: column;
    width: 100%;
  }
  .footer{
    width: 100%;
    flex-direction: column;
  }
  .leave, .load, .join{
    align-self: center;
    margin-top: 10px;
  }
  .text{
    align-self: center;
  }
}

@media (max-width: 460px) {
  .form__headline{
    text-align: center;
    margin-top: 40px;
  }
  .lesson__content{
    flex-direction: column;
  }
  .form__user{
    flex-direction: column;
    width: 100%;
  }
  .footer{
    width: 100%;
    flex-direction: column;
  }
  .leave, .load, .join{
    align-self: center;
    margin-top: 10px;
  }
  .text{
    align-self: center;
  }
}
