<app-sidebar></app-sidebar>
<mat-spinner *ngIf="loading"></mat-spinner>
<main>
  <div *ngIf="!loading" class="content">
    <div class="head">
      <div class="edd">
        <button *ngIf="isMyProfile" mat-icon-button [matMenuTriggerFor]="editMenu">
          <mat-icon style="color: white">more_vert</mat-icon>
        </button>
        <mat-menu #editMenu="matMenu" xPosition="before">
          <button mat-menu-item (click)="onDelete()">Delete</button>
        </mat-menu>
      </div>
    </div>
    <p class="form__headline">{{test.test_name}}</p>
    <p *ngIf="!is_test_started" class="tops">Top 5 users</p>
    <p class="info-text mat-body-2" style="color: white" *ngIf="this.test.top_user_answer.length <= 0&&!is_test_started">NO ONE DIDN'T PASS THIS TEST</p>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="this.test.top_user_answer.length > 0 && !is_test_started">

      <ng-container matColumnDef="First_Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td class="complaints__count" mat-cell *matCellDef="let element" (click)="redirectToProfile(element.id_user)"> {{element.first_name}} {{element.last_name}} </td>
      </ng-container>

      <ng-container matColumnDef="Points">
        <th mat-header-cell *matHeaderCellDef>Points</th>
        <td mat-cell
            *matCellDef="let element">{{element.user_points}}</td>
      </ng-container>

      <ng-container matColumnDef="Time_Spend">
        <th mat-header-cell *matHeaderCellDef>Time spend</th>
        <td mat-cell *matCellDef="let element">{{(element.time_spend | date:'hh') === '02' ? '' : (element.time_spend | date:'hh') + ' h.'}} {{(element.time_spend | date:'mm') === '00' ? '' : (element.time_spend | date:'mm') + ' m.'}} {{(element.time_spend | date:'ss') === '00' ? '' : (element.time_spend | date:'ss') + ' s.'}}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button *ngIf="!is_test_started&&!passed" class="start__button" (click)="onStart()" type="button">START</button>
    <form *ngIf="is_test_started" class="test__form" [formGroup]="form" (ngSubmit)="submit()">
      <mat-vertical-stepper [linear]="false">
        <mat-step [stepControl]="form.at(index)" *ngFor="let step of steps; let index = index; let last = last;">
          <ng-template matStepLabel>{{ step.label }}</ng-template>
          <formly-form
            [form]="form.at(index)"
            [model]="model"
            [fields]="step.fields"
            [options]="options[index]">
          </formly-form>
          <div>
            <button style="margin-right: 10px;" *ngIf="index !== 0" matStepperPrevious class="btn btn-primary"
                    type="button" (click)="prevStep(index)">Back
            </button>
            <button *ngIf="!last" matStepperNext class="btn btn-primary" type="button" (click)="nextStep(index)">Next
            </button>
            <button *ngIf="last" class="btn btn-primary" [disabled]="!form.valid" type="submit">Submit</button>
          </div>
        </mat-step>
      </mat-vertical-stepper>
    </form>
    <button *ngIf="passed" class="msg_send_btn" (click)="onClose()" type="button">
      {{text_btn}}
    </button>
    <p class="text" [routerLink]="['/teacher-profile',test.id_author]">
      Author: {{test.teacher_first_name}} {{test.teacher_last_name}}</p>
    <div *ngIf="check_results" class="preview">
      <p class="form__headline">test answers</p>
      <p class="tops">Time
        spend: {{(time_spend | date:'hh') === '02' ? '' : (time_spend | date:'hh') + ' h.'}} {{(time_spend | date:'mm') === '00' ? '' : (time_spend | date:'mm') + ' m.'}} {{(time_spend | date:'ss') === '00' ? '' : (time_spend | date:'ss') + ' s.'}} Points: {{points_count +'/'+test_results.length}}</p>
      <div class="questions selection-off">

        <div class="question" *ngFor="let que of test_results; let i = index">
          <div class="que">
            <p class="question--text">{{i + 1}}. {{que.question}}</p>
            <p
              [ngClass]="{'answer':que.first_question!==que.user_answer,'bad-answer':que.first_question===que.user_answer}">
              1) {{que.first_question}}</p>
            <p
              [ngClass]="{'answer':que.second_question!==que.user_answer,'bad-answer':que.second_question===que.user_answer}">
              2) {{que.second_question}}</p>
            <p
              [ngClass]="{'answer':que.third_question!==que.user_answer,'bad-answer':que.third_question===que.user_answer}">
              3) {{que.third_question}}</p>
            <p class="right_answer">4) {{que.right_question}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
