
.content {
  margin: 10px 10px 0 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  max-height: 35vh;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.type_msg {
  border-top: 1px solid #c4c4c4;
  position: relative;
}

.input_msg_write input {
  background: rgb(58, 84, 100) none repeat scroll 0 0;
  border-radius: 50px;
  border: medium none;
  color: #ffffff;
  font-size: 15px;
  min-height: 48px;
  width: 95%;
  padding-left: 20px;
  padding-right: 20px;
  outline: none;
}

.msg_send_btn {
  background: #1e8adb none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  width: 33px;
  outline: none;
}

.header {
  outline: none;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  align-self: center;
  color: #1e8adb;
  margin-bottom: 10px;
}

.cardList {
  max-height: 25vh;
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 6px;
    background: #252525;
    mix-blend-mode: normal;
    border-radius: 2px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fdfeff;
    border-radius: 2px;
  }
}

.link_person {
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  color: #a9c9e2!important;
}

.time {
  margin-left: 7px;
  font-size: 11px;
}

.comment_text{
  font-size: 18px;
  line-height: 1.2;
  width: 92%;
}

.item{
  color: white;
}

.meta {
  display: flex;
  justify-content: space-between;
  margin-right: 36px;
}

.comment-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 25px;
  margin-top: 5px;
}



input[id*='toggle'] {
  display: none;
}


.button {
  z-index: 999;
  width: 18px;
  height: 18px;
  background: #74b9ff;
  border-radius: 10%;
  transition: all 0.7s ease-in-out;
  cursor: pointer;
  text-align: center;
  padding-top: 2px;
}

.wrap{
  position: absolute;
  top: 10px;
  right: 40px;
}

.check{
  background: #ff0808;
  &:before {
    transform: rotate(135deg);
    background: #ffffff;
  }
  &:after {
    transform: rotate(45deg);
    background: #ffffff;
  }
}

input[id*='toggle']:checked ~ .nav {
  opacity: 1;
  transform: translateY(10%);
}

input[id*='toggle']:checked ~ .button {
  transform: rotate(535deg);
  box-shadow: 0 0 0 0 transparent;
  border-radius: 100%;
}

input[id*='toggle']:checked ~ .subbed {
  opacity: 1;
}


@media (max-width: 620px) {
  .content{
    max-height: 45vh;
    width: 100%;
  }
  .input_msg_write input{
    width: 80%;
  }
}

@media (max-width: 460px) {
  .content{
    max-height: 45vh;
    width: 100%;
  }
  .input_msg_write input{
    width: 80%;
  }
}

